<header>
  <a href="/"><img src="/assets/images/mr_logo.png" class="logo" alt="Massimo Ronca"></a>
  <small>This is not the programmer you're looking for</small>

  <nav>
    <ul>
     <li><a href="https://github.com/wstucco" title="Github">Github</a></li>
     <li><a href="https://twitter.com/wstucco" title="Twitter">Twitter</a></li>
     <!-- <li><a href="https://it.linkedin.com/in/massimoronca" title="Linkedin"><img src="/assets/images/linkedin-64.png" alt="Linkedin" class="linkedin-logo"> </a></li> -->
   </ul>
  </nav>
</header>
